/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 87px;
}
a {
  text-decoration: none;
  color: #3e3e3e;
}
a:hover {
  text-decoration: none;
  color: #3e3e3e;
}
.nav {
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.navbar-right {
  padding-top: 30px;
}
@media only screen and (max-width: 568px) {
  .navbar-right {
    padding-top: 0px;
    padding-bottom: 30px;
    text-align: center;
  }
}
.navbar-nav {
  padding-left: 20%;
}
@media only screen and (max-width: 1200px) {
  .navbar-nav {
    padding-left: 15%;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-nav {
    padding-left: 5%;
  }
}
@media only screen and (max-width: 568px) {
  .navbar-nav {
    text-align: center;
  }
}
.navbar-toggle {
  margin-top: 25px;
}
.row {
  margin: 0px;
}
.inner-row {
  position: relative;
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .inner-row {
    padding: 0px;
  }
}
.main-bg {
  background: url(../img/home-main-img.jpg) no-repeat center #eae6db;
  height: 570px;
}
.row-top {
  padding-top: 50px;
  padding-bottom: 55px;
  text-align: center;
}
.row-top-title {
  font-size: 32px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 20px;
}
.row-top-text {
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  color: #000;
  padding-bottom: 20px;
}
.row-top-btn {
  padding: 5px 20px;
}
.row-top-2 {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}
.row-top-title-2 {
  font-size: 32px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 20px;
}
.row-top-text-2 {
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  color: #000;
  padding-bottom: 20px;
}
.row-process {
  background: #FFF;
  padding-top: 40px;
  padding-bottom: 55px;
  text-align: center;
}
.row-process-title {
  display: inline-block;
  border-bottom: 1px solid #aaa9a9;
  width: 120px;
}
.row-process-text {
  font-weight: 400;
  font-size: 19px;
  font-style: italic;
}
.row-displays {
  background: #FFF;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.displays {
  padding: 0px 6px;
  text-align: center;
  float: left;
}
@media only screen and (max-width: 768px) {
  .displays {
    padding: 6px 6px;
  }
}
@media only screen and (max-width: 568px) {
  .displays {
    padding: 6px 6px;
  }
}
.displays-img {
  width: 100px;
}
@media only screen and (max-width: 768px) {
  .displays-img {
    width: 77px;
  }
}
@media only screen and (max-width: 568px) {
  .displays-img {
    width: 246px;
  }
}
@media only screen and (max-width: 480px) {
  .displays-img {
    width: 202px;
  }
}
@media only screen and (max-width: 320px) {
  .displays-img {
    width: 122px;
  }
}
.displays-text {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  padding-top: 10px;
}
.row-color {
  background: url(../img/arrow-white.png) 30% top no-repeat #eae6db;
  padding-top: 35px;
  padding-bottom: 45px;
}
.row-white {
  background: url(../img/arrow-color.png) 30% top no-repeat #ffffff;
  padding-top: 35px;
  padding-bottom: 45px;
}
.row-contact-bg {
  background: url(../img/row-contact-bg.jpg) repeat #80cfd3;
}
.row-contact {
  background: url(../img/arrow-white.png) top no-repeat;
  padding-top: 35px;
  padding-bottom: 45px;
  text-align: center;
}
.row-contact-title {
  color: #FFF;
  padding-bottom: 25px;
}
.row-contact-btn {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.row-contact-input {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.row-learn-more {
  background: #FFF;
  padding-top: 40px;
  padding-bottom: 55px;
  text-align: center;
}
h5 {
  text-transform: uppercase;
  color: #3e3e3e;
}
.row-learn-more-btn {
  width: 100%;
  font-size: 24px;
}
footer {
  background: url(../img/footer-bg.jpg) top repeat-x #3e3e3e;
  color: #FFF;
  min-height: 350px;
  padding-top: 15px;
}
.footer-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
h6 {
  text-transform: uppercase;
  color: #aaa9a9;
}
.footer-links {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
  text-indent: 0px;
}
.footer-links li {
  font-size: 13px;
  color: #FFF;
}
.footer-links li a {
  text-decoration: none;
  color: #FFF;
}
.footer-links li a:hover {
  color: #FFF;
  text-decoration: none;
}
.phone {
  font-size: 19px;
}
.email {
  font-size: 13px;
  color: #FFF;
}
.email a {
  text-decoration: none;
  color: #FFF;
}
.email a:hover {
  color: #FFF;
  text-decoration: none;
}
.social-icons {
  float: left;
  padding-top: 20px;
}
.copyright {
  text-align: center;
  font-size: 13px;
  color: #aaa9a9;
  border-top: 1px solid #aaa9a9;
  padding-top: 15px;
  padding-bottom: 15px;
}
.modal-contact {
  border-right: 1px solid #000;
  padding: 15px 50px 15px 30px;
}
@media only screen and (max-width: 568px) {
  .modal-contact {
    border-right: 0px solid #000;
    padding: 0px;
  }
}
@media only screen and (max-width: 480px) {
  
}
@media only screen and (max-width: 320px) {
  
}
.modal-contact-2 {
  padding: 15px 30px 15px 50px;
}
.modal-contact-2 h3 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}
.modal-contact-2 p {
  color: #aaa9a9;
  font-size: 14px;
  margin: 0px;
  padding-bottom: 15px;
}
@media only screen and (max-width: 568px) {
  .modal-contact-2 {
    border-right: 0px solid #000;
  }
}
@media only screen and (max-width: 480px) {
  
}
@media only screen and (max-width: 320px) {
  
}
.modal-header {
  padding: 15px;
  border-bottom: 0px solid #e5e5e5;
  min-height: 16.428571429px;
}
/*****  START of Origami *****/
.inner {
  position: relative;
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}
.kami {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eae6db;
  padding-top: 125px;
}
.kami-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.kami-mask,
.kami-peek-mask {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.kami-mask .kami,
.kami-peek-mask .kami {
  width: 200%;
}
.origami .kami-wrapper .kami-peek-mask {
  right: 0;
  left: 50%;
}
.origami .kami-wrapper .kami-peek-mask.kami-peek-mask .kami {
  right: 0;
  left: auto;
}
#solutions {
  z-index: 50;
  padding: 0px 0px 30px 0px;
  text-align: center;
}
#solutions .origamis {
  position: relative;
  margin: 0px auto;
}
#solutions .origamis .origami {
  float: left;
  position: relative;
  width: 290px;
  height: 290px;
  color: #3e3e3e;
  cursor: pointer;
  text-align: center;
  border-top: 0px solid #3e3e3e;
  border-right: 0px solid #3e3e3e;
  border-bottom: 0px solid #3e3e3e;
  border-left: 0px solid #3e3e3e;
  margin: 10px;
}
#solutions .origamis .origami p {
  font-size: 14px;
  text-align: center;
}
#solutions .origamis .origami p strong {
  font-size: 16px;
}
#solutions .origamis .origami p strong a {
  font-size: 12px;
  color: #FFF;
  text-decoration: none;
}
#solutions .origamis .origami .icon-large {
  position: relative;
  display: block;
  margin: 50px auto 0;
  width: auto;
  height: 90px;
  color: #f04831;
  line-height: 100px;
}
#solutions .origamis .origami .icon-large:before {
  font-size: 80px;
  line-height: 100px;
  vertical-align: middle;
}
#solutions .origamis .origami .origami-content {
  color: white;
  background-color: #3e3e3e;
  padding: 40px;
}
#solutions .origamis .origami .origami-content p {
  font-size: 14px;
  text-align: left;
}
#solutions #origami-accordion .accordion-group {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  font-size: 1.4em;
}
#solutions #origami-accordion .accordion-group .accordion-heading {
  border-top: 1px solid #adadad;
}
#solutions #origami-accordion .accordion-group .accordion-heading a {
  padding: 20px 0;
  background: #f2f0eb;
  color: #484745;
  font-size: 1.143em;
  -webkit-box-shadow: inset #fff 0 1px 0 0;
  -moz-box-shadow: inset #fff 0 1px 0 0;
  box-shadow: inset #fff 0 1px 0 0;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}
#solutions #origami-accordion .accordion-group .accordion-heading a:hover {
  text-decoration: none;
}
#solutions #origami-accordion .accordion-group .accordion-heading a.active {
  background: #484745;
  color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#solutions #origami-accordion .accordion-group .accordion-heading a [class*="icon-"] {
  color: #f04831;
  font-size: 32px;
}
#solutions #origami-accordion .accordion-group .accordion-heading a strong {
  display: block;
}
#solutions #origami-accordion .accordion-group .accordion-body .accordion-inner {
  padding: 0 20px 50px;
  border-top: none;
  background: #f2f0eb;
  color: #484745;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}
#solutions #origami-accordion .accordion-group .accordion-body .accordion-inner p {
  margin: 0;
}
#solutions #origami-accordion .accordion-group .accordion-body.in .accordion-inner {
  color: white;
  background: #484745;
}
#solutions h5 {
  margin-bottom: 25px;
  color: #484745;
  font-size: 2.4em;
  letter-spacing: -0.04em;
  line-height: 1em;
  text-align: center;
}
#solutions #uses-list {
  max-width: 840px;
  padding: 0 0 70px 60px;
  margin: 0 auto 70px;
  border-bottom: 1px solid #cccccc;
}
#solutions #uses-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#solutions #uses-list ul li {
  float: left;
  font-size: 1.6em;
  line-height: 1.875em;
  text-align: left;
  margin-bottom: 5px;
}
#solutions #uses-list ul li.col1 {
  width: 36%;
}
#solutions #uses-list ul li.col2 {
  width: 34%;
}
#solutions #uses-list ul li.col3 {
  width: 29%;
}
#solutions #uses-list ul li .icon-ok-sign {
  color: #4eb51b;
}
#solutions .see-for-yourself {
  margin-left: -300px;
}
@media (max-width: 959px) {
  #solutions .origamis {
    width: 622px;
  }
}
